* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  background: url(./images/rut-miit-3EMw3T-ZjkE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  position: relative;
  animation: change 20s infinite ease;
}

nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-left: 0;
  margin-right: 50px;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 0 12px 30px;
  position: relative;
}

.nav_links ul li a {
  color: hsl(0, 45%, 98%);
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  background: #034e88;
  transition: 0.5s;
}

.text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.text_box h1{
  color: rgb(10, 10, 3);
  font-size: 60px;
  letter-spacing: 15px;
}
.text_box h1 span{
  color: orange;
}

.text_box a {
  background: #85c1ee;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 19px;
  border-radius: 20px;
}

.text_box a:hover {
  background: #034e88;
  color: #fff;
}

@keyframes change {
  0% {
    background-image: url(./images/rut-miit-3EMw3T-ZjkE-unsplash.jpg);
  }
  20%
  {
    background-image: url(./images/sean-pollock-PhYq704ffdA-unsplash.jpg);
  }
  40%
  {
    background-image: url(./images/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);
  }
  60%
  {
    background-image: url(./images/jorge-vasconez-buYlndcNnjM-unsplash.jpg);
  }
  80%
  {
    background-image: url(./images/christina-wocintechchat-com-eF7HN40WbAQ-unsplash.jpg);
  }
}


.container{
  margin-top: 50px;
}

.POM{
  margin-top: 100px;
}

.POM1{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}


.button{
background-color: #078ef5;
padding: 10px;
border: none;
border-radius: 12px;
}

.links1{
float: left;
}